{% load static %}
<footer>
    <div class="left">
        <img class="footer-logo" src="{% static 'assets/LogoGaban1.png' %}">
        <div class="media-sosial">
            <h2>Media Sosial</h2>
            <div>
                <img src="{% static 'assets/ig.png' %}">
                <img src="{% static 'assets/twtr.png' %}">
                <img src="{% static 'assets/email.png' %}">
                <img src="{% static 'assets/ytb.png' %}">
            </div>
        </div>
    </div>
    <div class="right">
        <div>
            <h2>Menu</h2>
            <p>Beranda</p>
            <p>Program</p>
            <p>Berita</p>
            <p>Tentang Kami</p>
        </div>
        <div>
            <h2>Hubungi Kami</h2>
            <p>0888-1234-5678 (WA)</p>
            <p>gajahbanyuwangi@gmail.com</p>
            <p>Jl. Ini Nama Jalan No. 10, Kecamatan, Kabupaten 68455</p>
        </div>

    </div>

</footer>