{% load static %}
<div class="header-tagline">
    <div class="header">
        <img class="header-logo" src="{% static 'assets/LogoGaban1.png' %}">
        <div>
            <div>
                <p>Program</p>
            </div>
            <div>
                <p>Berita</p>
            </div>
            <div>
                <p>Tentang Kami</p>
            </div>
        </div>
    </div>
    <div class="tagline">
        <div class="tagline-text">
            <p>Tagline Gajah Banyuwangi</p>
        </div>
        <div class="title-foto">
            <div>
                <h3>Beny Yusron</h3>
                <p>Ketua Gajah Banyuwangi</p>
            </div>
            <img src="{% static 'assets/FotoMasBany.png' %}" alt="bang bany"> 
        </div>
    
    </div>

</div>