{% load static %}
<div class="program-gaban">
    <h2>Program Gaban</h2>
    <div class="program">
        <div>
            <img  src="{% static 'assets/program.png' %}">
            <h3>Program Pertama</h3>
            <p>Deskripsi program deskripsi program deskripsi program deskripsi program deskripsi program deskripsi program</p>
        </div>
         <div>
            <img  src="{% static 'assets/program.png' %}">
            <h3>Program Kedua</h3>
            <p>Deskripsi program deskripsi program deskripsi program deskripsi program deskripsi program deskripsi program</p>
        </div>
         <div>
            <img  src="{% static 'assets/program.png' %}">
            <h3>Program Ketiga</h3>
            <p>Deskripsi program deskripsi program deskripsi program deskripsi program deskripsi program deskripsi program</p>
        </div>

    </div>
</div>
<div class="garis-bawah"></div>