{% load static %}
<div class="logo-sejarah">
    <div class="logo">
        <img class="header-logo" src="{% static 'assets/LogoGaban1.png' %}">
    </div>
    <div class="sejarah"> 
        <h2>Sejarah Gaban</h2>
        <p>Alumni Perguruan Tinggi Jawa bagian Barat asal Banyuwangi sudah banyak dan mempunyai keahlian di bidang masing-masing. Namun sampai saat ini belum ada wadah atau organisasi yang menaungi. <br> <br> Berawal dari silaturrahmi halal binhalal online 1422 H maka para alumni sepakat akan perlunya sebuah organisasi yang menaungi para alumni tersebut. Dibentuklah organisasi GABAN.</p>
    </div>
</div>
<div class="garis-bawah"></div>