{% load static %}
<div class="title-sponsor">
    <h2>Produk Anggota Gaban</h2>
</div>
<div class="list-sponsor">
    <div class="slider_items">
         <img src=" {% static "assets/Sponsor1.png"%}">
    </div>
    <div class="slider_items">
         <img src=" {% static "assets/Sponsor1.png"%}">
    </div>
    <div class="slider_items">
         <img src=" {% static "assets/Sponsor1.png"%}">
    </div>
    <div class="slider_items">
         <img src=" {% static "assets/Sponsor1.png"%}">
    </div>
</div>