<div class="visi-misi">
    <div class="visi">
        <h2>Visi :</h2>
        <ol type="1">
            <li>Mengembangkan Potensi Masyarakat Banyuwangi</li>
            <li>Membawa Banyuwangi Go-Nasional dan Internasional</li>
        </ol>
    </div>
    <div class="misi">
        <h2>Misi :</h2>
        <ol type="1">
            <li>Memberi informasi peluang nasional dan internasional pada masyarakat Banyuwangi</li>
            <li>Mengembangkan potensi hasil alam Banyuwangi yang berpedoman pada prinsip ilmu dan teknologi</li>
            <li>Menginspirasi  Generasi Muda Banyuwangi untuk melanjutkan Pendidikan Tinggi ke Perguruan Tinggi di Jawa bagian Barat khususnya Bandung</li>
            <li>Memperluas jejaring antar masyarakat Banyuwangi untuk memaksimalkan potensi Banyuwangi untuk kemakmuran Banyuwangi </li>
        </ol>
    </div>
</div>
